{{ partial "header.html" . }}
<header class="introduction"><h1>{{ .Title }}</h1></header>
{{ with .Content }}<div class="prose">{{ . }}</div>{{ end }}
{{ if eq .Kind "taxonomy" }}
  <ul class="writing-list">
    {{ range .Pages.ByTitle }}
    <li><a href="{{ .RelPermalink }}"><span>{{ .Title }}</span><span class="count">{{ len .Pages }}</span></a></li>
    {{ end }}
  </ul>
{{ else }}
  <ol class="writing-list">
    {{ range .RegularPages.ByDate.Reverse }}
    <li><a href="{{ .RelPermalink }}"><span>{{ .Title }}</span><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2006" }}</time></a></li>
    {{ end }}
  </ol>
{{ end }}
{{ partial "footer.html" . }}
