  </article>
  <hr>
  <footer>
    <nav>
      <a href="/">Index</a>
      <a href="/writing">Writing</a> 
      <a href="/links" title="My Antilibrary">Links</a>
     <a href="/atom.xml" title="RSS feed of website">Feed</a>
   </nav>
  </footer>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  </body>
</html>
